.container {
    position: relative;
}

.button {
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.navHide {
    width: 20vw;
    position: absolute;
    left: 10vw;
    top: 45px;
}

.items {
    padding: 0;
    margin: 0;
}

.navShow {
    width: 20vw;
    position: absolute;
    top: 45px;
    z-index: 999;
    left: -16vw;
    background-color: white;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #062c43;
    padding: 10px 16px;
    display: flex;
    border-bottom: 1px solid #054569;
    border-left: 1px solid #054569;
    font-weight: bold;
}
