.container {
    position: relative;
}

.button {
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.navShow {
    right: 0;
}

.items {
    padding: 0;
    margin: 0;
    width: 20vw;
    box-shadow: 1px 1px  #054569;
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    right: -25vw;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #062c43;
    padding: 10px 16px;
    display: flex;
    border-bottom: 1px solid #054569;
}